<nav class="navbar navbar-light bg-light mt-2 mb-5">
  <a class="navbar-brand"><%= application_name %></a>
  <div class="flex">
    <%= nav_helper 'nav-link', 'span' %>
    <%# login_helper style="nav-item"%>
  </div>
</nav>